<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
    <script src=../../resources/js/homeMap.js></script>
  </head>

  <body style="background-color: rgb(202, 231, 255);">
  <div class="jumbotron jumbotron-fluid" style="margin-bottom:0">
    <div class="container">
      <h3 class="text-center">Search</h3>
    </div>
  </div>

  <%- include('../partials/menu') %>

  <div class="container-lg" style="margin-top: 2%;">
    <% if(message && !error) { %>
      <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        <%- message %>
      </div>
    <% } %>
    <% if(error) { %>
      <div class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Warning:</span>
          <%- message %>
      </div>
    <% } %>
  </div>
  <div class="container">
      <%
      if (locations == '') {
        var error = '<div class="alert alert-dark"> Your search failed to return any locations, please try a different keyword! </div>';
      %>
      <%- error %>
      <% } 
      else{
        var title = '<h5 class="text-center">Locations</h5>';
      %>
        <%- title %>
        <%}
      %>
      <%
      if (locations) {
          var cards = '';
          var cols = 0;
          
      <!-- Iterate the items object & update the cards variable -->
      locations.forEach(function(item){
          if (cols == 3){
            cards += '</div></br>';
            cols = 0;
          }
          if (cols == 0){
            cards += '<div class="card-group">';
          }
          cards += '<div class="card border-dark mb-3" style="width: 18rem; margin: 10px;"><div class="card-body"><h5 class="card-title">' + item.nameloc + '</h4><a href="/locations/'+item.location_id+'" class="btn btn-dark">Link to post</a><p class="card-text">' + item.blurb + '</p></div></div>';
          cols++;
      });
          cards += '</div>';
      %>
      <%- cards %>
      <% } %>
  </div>
  <div class="container">
    <br>
    <h5 class="text-center">Comments</h5>
        <div class="list-group">
          
          <% if (comments) {
            var media ='';
            comments.forEach(function(item){
              var badge = "likeBadge" + item.comment_id;
              var fav_badge = "favBadge" + item.comment_id;
              var like = "like" + item.comment_id;
              var dislike = "dislike" + item.comment_id;
              var favorite = "favorite" + item.comment_id;

              media +='<div class="list-group-item list-group-item-action">';
              media +='<div class="d-flex w-100 justify-content-between">';
              media +='<h5 class="mb-1">Location</h5>';
              media +='</div><p class="mb-1">' + item.comment + '</p>';
              media +='<div class="d-flex flex-row bd-highlight mb-3">';
              media +='<div class="p-2 bd-highlight"><button type="radio" id="'+like+'" name="like" class="btn btn-default" title="Like this post" value="' + item.comment_id + '" onclick="addLike(' + item.comment_id + ')" ><span class="glyphicon glyphicon-thumbs-up"></span></button></div>';
              media +='<div class="p-2 bd-highlight"><span class="badge bg-success" id="'+badge+'">' + item.likes + '</span></div>';
              media +='<div class="p-2 bd-highlight"><button type="radio" id="'+dislike+'" name="dislike" class="btn btn-default" title="Dislike this post" value="' + item.comment_id + '" onclick="removeLike(' + item.comment_id + ')" ><span class="glyphicon glyphicon-thumbs-down"> </span></button></div>';
              media +='<div class="p-2 bd-highlight"><button type="radio" id="'+favorite+'" name="favorite" class="btn btn-default"  title="Favorite this post" value="' + item.comment_id + '" onclick="favorites(' + item.comment_id + ')" ><span class="glyphicon glyphicon-star" ></span></button></div>';
              media +='<div class="p-2 bd-highlight"><span class="badge bg-warning" id="'+fav_badge+'">' + item.favorites + '</span></div></div></div>';
              
               
            }); %>
            <%- media %>
          <% } %>
      </div>
    </div>
  </body>
  <%- include('../partials/footer') %>